.box {
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.header {
    margin-bottom: 30px;
    text-align: center;
}