h1 {
    background-color: #402a47; /* Dark blue */
    color: #fbe6fd; /* Light pastel pink */
    padding: 20px;
    text-align: center;
    margin: 0;
  
    display: block;
    font-family: 'Arial', sans-serif; /* Optional: Font style */
  }
  body{
    background-color: #201524;
  }
  
  #body {
    /* background: linear-gradient(10deg, #000000,#201524, #3e2541); */
    color: #000000; /* Optional: Adjust text color for contrast */
    font-family: 'Arial', sans-serif; /* Optional: Font style */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    height:100%; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  